<header mdcToolbar>
    <div mdcToolbarRow>
      <section mdcToolbarSection alignStart>
        <span>
          <a href="javascript:void(0)" mdcToolbarMenuIcon><i class="material-icons">&#xE5C4;</i></a>
        </span>
        <span mdcToolbarTitle>Toolbar</span>
      </section>
      <section mdcToolbarSection alignEnd>
        <a href="javascript:void(0)" mdcToolbarIcon class="material-icons" aria-label="Download" alt="Download">file_download</a>
        <a href="javascript:void(0)" mdcToolbarIcon class="material-icons" aria-label="Print this page" alt="Print this page">print</a>
        <a href="javascript:void(0)" mdcToolbarIcon class="material-icons" aria-label="Bookmark this page" alt="Bookmark this page">more_vert</a>
      </section>
    </div>
  </header>