  <nav mdcDrawer>
    <div mdcDrawerContent mdcList>
      <a mdcListItem [routerLink]="['myaccount']">
        <i mdcListItemGraphic class="material-icons" aria-hidden="true">account_circle</i>My Account
      </a>
      <a mdcListItem [routerLink]="['mysecurity']">
        <i mdcListItemGraphic class="material-icons" aria-hidden="true">security</i>My Security
      </a>
      <a mdcListItem [routerLink]="['mysettings']">
        <i mdcListItemGraphic class="material-icons" aria-hidden="true">settings</i>My Settings
      </a>
    </div>
  </nav>
