<button mdcButton outlined (click)="dialog1.open()">Login</button>


<aside #dialog1="mdcDialog" mdcDialog mdcFocusTrap>
  <div mdcDialogSurface>
    <header mdcDialogHeader>
      <h2 mdcDialogHeaderTitle>Modal Dialog</h2>
    </header>
    <section mdcDialogBody>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
        Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
        Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
    </section>
    <footer mdcDialogFooter>
      <button mdcButton mdcDialogCancel>Decline</button>
      <button mdcButton mdcDialogAccept>Accept</button>
    </footer>
  </div>
  <div mdcDialogBackdrop></div>
</aside>